﻿<div class="container">
     <h1>Movie Compare</h1>
     <p>example of a movie compare page</p>
    <div class="row justify-content-start">
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <img class="img-fluid" alt="Image html" src="https://image.tmdb.org/t/p/w342/sWgBv7LV2PRoQgkxwlibdGXKz1S.jpg" />
        </div>
        <div class="col">
            <img class="img-fluid" alt="Image html" src="https://image.tmdb.org/t/p/w342/b5yOH3uWaTaUlZwhtiBPOFUGnew.jpg" />
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <h5>The Mandalorian</h5>
        </div>
        <div class="col">
            <h5>Aliens</h5>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <p>
                After the fall of the Galactic Empire, lawlessness has spread throughout the galaxy. A lone gunfighter makes his way through the outer reaches, earning his keep as a bounty hunter.
            </p>
        </div>
        <div class="col">
            <p>
                When Ripley's lifepod is found by a salvage crew over 50 years later, she finds that terra-formers are on the very planet they found the alien species.
            </p>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <p>
                Language: US
            </p>
        </div>
        <div class="col">
            <p>
                Language: US
            </p>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <label>Rating: 2.5</label>
        </div>
        <div class="col">
            <label>Rating: 1.9</label>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col">
            <button class="btn btn-primary">Bookmark</button>
        </div>
        <div class="col">
            <button class="btn btn-primary">Bookmark</button>
        </div>
    </div>
</div>